<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="view/css/main.css">
</head>
<body>
<!-- 导航栏 -->
<div id="nav">
    <img src="./view/image/logo.png" alt="">
    <ul class="navigation">
        <li><a href="#" class="mainPage">首页</a></li>
        <li><a href="#">应用展示</a></li>
        <li><a href="#">企业版服务</a></li>
        <li><a href="#">样本服务</a></li>
        <li><a href="#">问卷调查模板</a></li>
        <li class="navBut"><button class="login">登录</button></li>
        <li class="navBut"><button class="register">注册</button></li>
        <li class="navBut"><button class="qqLogin">QQ登录</button></li>
    </ul>
</div>
<!-- 轮播图 -->
<div id="banner">
    <h1>不止问卷调查 / 在线考试</h1>
    <div class="banSheet"><span>1,928</span> 万用户已在问卷星上回收 <span>12.11</span> 亿份答卷</div>
    <div><a href="#" class="butFree">免费使用</a></div>
    <div class="banFooter">
        <div class="banFooterBox">
            <p class="banFooterLeft">NEW!</p>
            <div class="banFooterContent">
                <p>新版考试系统上线，满足员工培训考核、党建知识竞赛、课后练习考试等多种使用场景</p>
            </div>
            <p class="banFooterRight">
                <a href="#">立即体验</a>
            </p>
        </div>
    </div>
</div>
<!-- 主题内容 -->
<div id="content"></div>
<!-- 页脚 -->
<div id="footer"></div>
</body>
</html>