<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="./view/css/bootstrap.min.css">
    <link rel="stylesheet" href="./view/css/personalCenter.css">
</head>
<body>
<nav class="navbar navbar-default nav-bg">
    <div class="container">
        <!-- 折叠模块 -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand nav-img" href="index.php?c=Main&amp;action=show"><img src="https://www.wjx.cn/images/newimg/index/mobieindexnew.png" alt="" class="img-responsive"></a>
        </div>
        <!-- 正常 -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" class="a-font"><span class="glyphicon glyphicon-list-alt a-font"></span><span class="a-font">我的问卷</span></a></li>
                <li><a href="#" class="a-font"><span class="a-font">|</span></a></li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user a-font"></span>
                        <span class="a-font">张三</span>
                        <span class="caret a-font"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">用户信息</a></li>
                        <li><a href="#">升级</a></li>
                        <li><a href="#">客服中心</a></li>
                    </ul>
                </li>
                <li><a href="#" class="a-font"><span class="glyphicon glyphicon-bell a-font"></span><span class="a-font">消息</span></a></li>
                <li><a href="#" class="a-font"><span class="glyphicon glyphicon-off a-font"></span><span class="a-font">退出</span></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4"></div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <img src="https://www.wjx.cn/Images/newimg/pic-1/picture1.png" alt="" class="img-responsive">
            <div class="col-lg-3 col-md-3 col-sm-3"></div>
            <div class="col-lg-5 col-md-5 col-sm-5">
                <button type="button" class="btn btn-warning btn-margin"><span class="glyphicon glyphicon-plus">创建问卷</span></button>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4"></div>
    </div>
</div>
</body>
<script src="./view/js/jquery-1.12.3.min.js"></script>
<script src="./view/js/bootstrap.min.js"></script>
</html>